@import "./index.scss";

* {
  color: $primary;
}

body {
  margin: 0;
  width: 100%;
  background-color: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
}
